In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://admin:admin@localhost:5432/autochek')

In [13]:
with open('solution_1.sql', 'r') as f:
    query = f.read()
print(query)

with amount_risk as (
	select
		pay.loan_id,
		expected_payment_date,
		expected_payment_amount,
		date_paid,
		amount_paid,
		sum(case when loan.loan_id is null then expected_payment_amount end) over (partition by pay.loan_id order by expected_payment_date) as amount_at_risk,
		count(pay.loan_id) over (partition by pay.loan_id order by expected_payment_date) as calc_payment_frequency,
		row_number() over (partition by pay.loan_id order by expected_payment_date desc) as rn
	from payment_schedule pay
	left join loan_payment loan on loan.loan_id = pay.loan_id
	and loan.date_paid = pay.expected_payment_date
),
payment_agg as (
select
	loan_id,
	current_date - max(expected_payment_date) as current_days_past_due,
	max(expected_payment_date) as last_due_date,
	max(date_paid) as last_repayment_date,
	sum(amount_paid) as total_amount_paid,
	sum(expected_payment_amount) as total_amount_expected
from loan_payment lp
join payment_schedule using(loan_id)
group by 1
)

select
	loan_id,
	borrower_id,
	date_of_release,
	term,
	loanamount,
	downpayment
	state,
	city,
	zip_code,
	payment_frequency, -- the values here doesn't represent freqencies
	calc_payment_frequency, -- this is a count of the payment frequencies by the expected payment date
	maturity_date,
	current_days_past_due,
	last_due_date,
	last_repayment_date,
	amount_at_risk,
	borrower_credit_score,
	null as branch, -- branch data are not provided
	null as branch_id,
	null as borrower_name,
	total_amount_paid,
	total_amount_expected
from loan
join borrower using(borrower_id)
join amount_risk using(loan_id)
join payment_agg using(loan_id)
where rn = 1

In [15]:
df = pd.read_sql(query,con=engine)
df

,loan_id,borrower_id,date_of_release,term,loanamount,state,city,zip_code,payment_frequency,calc_payment_frequency,...,current_days_past_due,last_due_date,last_repayment_date,amount_at_risk,borrower_credit_score,branch,branch_id,borrower_name,total_amount_paid,total_amount_expected
0,09u924rbwf,123fd35,2021-04-16,36,45784937,1200000,12olki,19473,1.271804e+06,36,...,-604 days,2024-04-16,2024-04-16,NaN,4,None,None,None,1.648258e+09,1.648258e+09
1,3240-9rfwb,123fd36,2021-03-26,12,1234890,132000,89hfg,923475,1.029075e+05,12,...,148 days,2022-03-26,2022-03-26,NaN,a,None,None,None,1.481868e+07,1.481868e+07
2,32u09wekjbfje,123fd35,2021-01-27,12,1209484,124993,12olki,19473,1.007903e+05,12,...,206 days,2022-01-27,2022-01-27,5.039517e+05,4,None,None,None,1.451381e+07,1.451381e+07
3,9190i0-nbfb,123fd36,2021-02-01,24,12394031,1000000,89hfg,923475,5.164180e+05,24,...,-165 days,2023-02-02,2023-02-02,3.614926e+06,a,None,None,None,2.974567e+08,2.974567e+08

In [17]:
df.to_csv('task_one_result.xls', index=0)